<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/bootstrap/bootstrap.css')}}">
    <title>REGISTER | LOGIN</title>
</head>
<body class="bg-light">
    <div class="container rounded shadow-lg my-5 px-5 py-3 bg-secondary">
        <div class="row mt-5 mb-3">
            <h1 class="text-center fw-bold">Welcome to the Coding Dojo Wall!</h1>
        </div>

        <div class="row px-3 py-3">
            <!-- registration form -->
            <div class="col-md bg-light rounded shadow me-2 mb-3 p-3">
                <div class="row px-3">
                    <h2>Register</h2>
                    {% with errors = get_flashed_messages(category_filter=["register"]) %}
                    {% if errors %}
                    <ul class="list-group p-0">
                        {% for msg in errors %}
                        <li class="list-group-item list-group-item-danger"> {{ msg }} </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endwith %}
                </div>

                <div class="row">
                    <form class="" action="/user/create" method="post">
                        <div class="form-floating mb-3 mt-3">
                            <input type="text" class="form-control" name="first_name">
                            <label for="first_name" class="">First Name</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="last_name">
                            <label for="last_name" class="">Last Name</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" name="email">
                            <label for="email" class="">Email Address</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" name="password" required>
                            <label for="password" class="">Password</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" name="confirm_password" required>
                            <label for="confirm_password" class="">Confirm Password</label>
                        </div>

                        <div class="row">
                            <div class="col d-flex justify-content-end">
                                <input class="btn btn-lg btn-primary" type="submit" value="Register">
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- login form -->
            <div class="col-md p-3 mb-3 bg-light rounded shadow">
                <div class="row">
                    <h2>Login</h2>
                    {% with errors = get_flashed_messages(category_filter=["login"]) %}
                    {% if errors %}
                    <ul class="list-group px-3">
                        {% for msg in errors %}
                        <li class="list-group-item list-group-item-danger"> {{ msg }} </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endwith %}
                </div>

                <div class="row ">
                    <form class="" action="/user/login" method="post">
                        <div class="form-floating mb-3 mt-3">
                            <input type="email" class="form-control" name="email" required>
                            <label for="email" class="">Email Address</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" name="password" required>
                            <label for="password" class="">Password</label>
                        </div>

                        <div class="row">
                            <div class="col d-flex justify-content-end">
                                <input class="btn btn-lg btn-primary" type="submit" value="Login">
                            </div>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
</body>
</html>